html, body {
  margin: 0;
  box-sizing: border-box;
  background-color: #fbfbfb;
}

*, *:before, *:after {
  box-sizing: inherit;
}

#root {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}

a, a:hover, a:active a:visited {
  text-decoration: none;
  color: black;
}
