html, body {
  margin: 0;
  box-sizing: border-box;
  background-color: #fbfbfb;
}

*, *:before, *:after {
  box-sizing: inherit;
}

#root {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}

a, a:hover, a:active a:visited {
  text-decoration: none;
  color: black;
}

.h-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.h-flex > * {
  padding: 0px 20px;
}

.close-btn {
  color: red;
}
